* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
.wrapper {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
}
.container-image img {
    width: 427px;
    height: 398.67px;
}
.title-section {
    margin-top: 20px;
    margin-bottom: 0;
}
.title {
    color: black;
    font-size: 61px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}
.para{
    color: gray;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
margin-bottom: 0px;
font-family: "Raleway", sans-serif;
text-align: center;
}
.input-group {
    position: relative;
}
.input-group .label-title {
    color: gray;
    margin-bottom: 11px;
    font-size: 14px;
display: block;
font-weight: 500;
}
.input-group input {
width: 400px;
background-color: none;
color: black;
height: 52px;
font-size: 1rem;
font-weight: 300;
border: 1px solid gray;
padding: 9px 18px 9px 52px;
outline: none;
border-radius: 8px;
margin-bottom: 10px;
}
.input-group input::placeholder {
    color: gray;
    font-size: 1rem;
    font-weight: 400;
}
.input-group .icon {
    position: absolute;
    left: 0px;
    top: calc(20% - 11px);
    text-align: center;
    margin-left: 14px;
    font-size: 28px;
    width: 48px;
    height: 50px;
    display: block;
    text-align: center;
    background-color: lightgray;
    color: black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid transparent;
}
.input-group .code {
        position: absolute;
        display: block;
        top: 70px;
        left: 120px;
        width: 60%;
        height: 50px;
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 1.25rem;
}
.code a {
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.code a:hover {
    cursor: pointer;
}
.continue {
    width: 326px;
    height: 56px;
   margin-top: 60px;
    background-color: rgb(79, 120, 28, 1);
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 1rem;
    color: #fff;
    padding: 16px 32px, 16px, 32px;
    gap: 10px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.continue:hover {
    opacity: 0.9;
}
form {
    text-align: center;
}