/*DESKTOP VIEW*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  /* background-color: #9e9e9e; */
  height: 100vh;
  width: 100%;
  background-image: url("/Capstone Project/images/Beatrice assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: space-between;
  height: 90%;
  max-width: 75%;
  background-color: #fff;
  margin: 5% auto;
}

.image {
  flex: 1;
  width: 35vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-self: center;
}

.image img {
  margin: 0 6%;
}

.form {
  flex: 1;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #cdcdcd;
  border-radius: 8% 0 0 8%;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 30vw;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}

.buttn {
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: 1.6px solid black;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 500;
}

.buttn .img1 {
  width: 10px;
  height: 10px;
}

.buttn .img2 {
  width: 11px;
  height: 11px;
}

.line-or {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}

.line-or .line {
  width: 7.5rem;
  border-bottom: 1.35px solid black;
  transform: translateY(-9px);
}

.or-bold {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}

.form h2 {
  margin-top: 0;
  font-size: 2.3rem;
  font-weight: 900;
  letter-spacing: 0.08rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  position: relative;
}

.message-box {
  padding: 9px 14px;
  background-color: #e7e5e5;
  border: none;
  position: absolute;
  left: 23%;
  top: 2px;
}

.lock {
  padding: 9px 14px;
  background-color: #e7e5e5;
  border: none;
  position: absolute;
  left: 23%;
  bottom: 2px;
}
.message-box img,
.lock img {
  width: 12px;
  height: 12px;
}

.eye {
  width: 17px;
  height: 16px;

  position: absolute;
  bottom: 13%;
  right: 26%;
}

.input-form input {
  width: 55%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: 1px solid black;
}

.input-form input::placeholder {
  font-weight: 19;
  color: rgb(169, 169, 168);
  padding-left: 20%;
}

.sign-in {
  width: 47%;
  background-color: rgba(79, 120, 28, 1);
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.last-info {
  font-size: 1.2rem;
  font-weight: 100;
}

.last-info a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}

.sign-in:hover {
  background-color: #1e441e;
}

.next-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: white;
  margin: 0 auto;
  background-color: #101806;
}

.next-page a {
  padding: 10px;
  color: red;
}

/* TABLET VIEW */

@media screen and (max-width: 1100px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-size: 60%;
    background-image: url("/Capstone Project/images/Beatrice assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
  }

  .container {
    min-height: 60vh;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem 0rem 0rem 2rem;
  }

  .image {
    background-color: white;
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .image img {
    width: 25vw;
    height: 40vh;
  }

  .form {
    width: 35vw;
    min-height: 80vh;
    display: flex;
    background-color: rgba(205, 205, 205, 0.687);
  }

  .form h2 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.08rem;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 35vw;
  }

  .buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1.5rem;
  }

  .buttn {
    background-color: transparent;
    padding: 0.7rem 1.5rem;
    border: 1.5px solid;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    width: 10rem;
  }

  .buttn img {
    width: 10px;
    height: 10px;
  }

  .line-or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 1rem;
  }

  .line-or .line {
    width: 8rem;
    border-bottom: 1.5px solid;
    transform: translateY(-12px);
  }

  .or-bold {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
  }

  .input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 40rem;
    position: relative;
    margin-top: 1rem;
  }

  .input-form input {
    width: 21rem;
    padding: 1rem 1.5rem;
    border: 0.5px solid;
    border-radius: 4px;
  }

  .input-form input::placeholder {
    font-weight: 19;
    color: rgb(169, 169, 168);
    font-size: 1.2rem;
  }

  .message-box {
    padding: 0.95rem 1.2rem;
    background-color: #e7e5e5;
    border: none;
    border-radius: 4px 0px 0px 4px;
    position: absolute;
    left: 24%;
    top: 1px;
  }

  .lock {
    padding: 0.95rem 1.2rem;
    background-color: #e7e5e5;
    border: none;
    border-radius: 4px 0px 0px 4px;
    position: absolute;
    left: 24%;
    bottom: 1px;
  }

  .eye {
    width: 15px;
    height: 14px;

    position: absolute;
    bottom: 13%;
    right: 26%;
  }

  .sign-in {
    width: 37%;
    background-color: rgba(79, 120, 28, 1);
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .last-info {
    font-size: 1.3rem;
    font-weight: lighter;
  }

  .last-info a {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
}

/* MOBILE VIEW */

@media screen and (max-width: 700px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 50%;
  }

  body {
    background-image: url("/Capstone Project/images/Beatrice assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
  }

  .container {
    min-height: 60vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
  }

  .image {
    display: none;
  }

  .form {
    width: 80vw;
    height: 90vh;
    display: flex;
    background-color: rgba(205, 205, 205, 0.687);
    border-radius: 2rem;
  }

  .form h2 {
    margin-top: 0;
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: 0.08rem;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    width: 70vw;
    margin: auto;
  }

  .buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1.7rem;
  }

  .buttn {
    background-color: transparent;
    padding: 1rem 1.5rem;
    border: 1.5px solid;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    width: 13.5rem;
  }

  .buttn img {
    width: 10px;
    height: 10px;
  }

  .line-or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 1rem;
  }

  .line-or .line {
    width: 11rem;
    border-bottom: 1.5px solid;
    transform: translateY(-12px);
  }

  .or-bold {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
  }

  .input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 42rem;
    position: relative;
    margin-top: 1rem;
  }

  .input-form input {
    width: 67%;
    padding: 1rem 1.5rem;
    border: 0.5px solid;
    border-radius: 4px;
  }

  .input-form input::placeholder {
    font-weight: lighter;
    color: rgb(169, 169, 168);
    padding-left: 15%;
    font-size: 1.3rem;
  }

  .message-box {
    padding: 7.8px 10px;
    background-color: #e7e5e5;
    border: none;
    border-radius: 4px 0px 0px 4px;
    position: absolute;
    left: 17%;
    top: 1px;
  }

  .lock {
    padding: 7.3px 10.7px;
    background-color: #e7e5e5;
    border: none;
    border-radius: 4px 0px 0px 4px;
    position: absolute;
    left: 17%;
    bottom: 1px;
  }

  .eye {
    width: 15px;
    height: 14px;

    position: absolute;
    bottom: 13%;
    right: 20%;
  }

  .sign-in {
    width: 30%;
    background-color: rgba(79, 120, 28, 1);
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .last-info {
    font-size: 1.4rem;
    font-weight: lighter;
  }

  .last-info a {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
}
