* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: green;
  color: white;
  padding: 1rem 2rem;
  width: 50%;
  margin: 1% auto;
}
