* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: black;
}

.page-header {
  background-color: rgba(79, 120, 28, 1);
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.logo {
  width: 10vw;
  display: flex;
  justify-content: center;
  padding-left: 4%;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 70vw;
}

.nav-list li a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 300;
  color: #f6f6f6;
}

.nav-list li:nth-last-child(4) a {
  font-size: 1.8rem;
  font-weight: 501;
  padding-right: 0rem;
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 15vw;
  gap: 0.5rem;
}

.user-active {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.user1 {
  display: none;
}

.relative1 {
    width: 100%;
    height:595px;
    background: url(Portrait\ of\ diverse\ women\ together.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
position: relative;
}
.overlay {
    background-color: black;
    position: absolute;
    opacity: 0.7;
    width: 100%;
    top: 0px;
    right: 0px;
    height: 595px;
  }
  .main {
    color: white;
    text-align: left;
    position: absolute;
    top: 80px;
    left: auto;
    padding-left: 60px;
    width: 761px;
    height: 280px;
  }
  .main-head {
font-weight: 800;
font-size: 4rem;
color: #ffcf91;
line-height: 4.5rem;
margin-bottom: 15px;
  }
  .main-para {
font-weight: 600;
font-size: 1.6rem;
  }
  input::placeholder {
    color: gray;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 0px
}

.search {
  position: relative;
}

.search img{
    position: absolute;
    left:7px;
    top: calc(45% - 11px);
    text-align: center;
    font-size: 28px;
    width: 48px;
    height: 50px;
    display: block;
    text-align: center;
    background-color: transparent;
    color: White;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid transparent;
}

.search input {
  padding: 5px 22px 5px 60px;
  font-size: 1.25rem;
  
}
.search img {
  width: 40px;
  height: 40px;
}
.search a > img:hover {
  cursor: pointer;
}
input {
  margin-top:20px;
  width: 447px;
background-color: none;
color: white;
height: 52px;

font-size: 1rem;
background: transparent;
border: 1px solid white;
padding: 9px 18px 9px 52px;
outline: none;
border-radius: 8px;
margin-bottom: 10px;
}
.meet {
  width: 90%;
  padding-left: 60px;
  padding-top: 30px;
  color: #4f781c;
  font-weight: 700;
  font-size: 2.7rem;
}

.recent-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1rem;
  margin: auto 10rem;
}

.article {
  display: flex;
  overflow: hidden;
}

.article img {
  width: 200px;
  height: 200px;
   border-radius: 200px;
}

.article-word {
  padding: 20px;
  line-height: 32px;
}
.article-word h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
.article-word p {
font-size: 1.25rem;
font-weight: 400;
padding-top: 10px;
}

.footer {
  color: white;
  background-color: #101806;
  width: 100%;
  height: 30rem;
}

.foot {
  width: 85%;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  margin: 0rem auto;
  padding-top: 5rem;
}
  
.logo-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20vw;
  height: 10rem;
}
    
  .explore,
  .contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15vw;
  height: 20rem;
  }

  .explore h3, .contact h3 {
  font-size: 1.7rem;
  }

  .explorer li {
  list-style-type: none;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 200;
  }

  .contact p {
  font-size: 1.4rem;
  font-weight: 200;
  }

  .connect {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
  height: 20rem;
  padding-left: 3rem;
  }

  .connect h3 {
  font-size: 1.5rem;
  }

  .socials {
  display: flex;
  gap: 1rem;
  }

  .socials img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 1rem;
  }

.sub-btn {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

#inputt {
  padding: 1rem;
  width: 19.5rem;
  height: 3rem;
  color: #ababab;
  font-weight: 200;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.subscribe button {
  margin-left: 19rem;
  transform: translateY(-4rem);
  border: none;
  cursor: pointer;
  background-color: rgba(79, 120, 28, 1);
  border-radius: 0px 4px 4px 0px;
}

.subscribe button img {
  width: 3rem;
  height: 2.7rem;
}

.foote {
  color: white;
  background-color: #101806;
  width: 100%;
  height: 8rem;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 0.01rem;
  background-color: rgba(246, 246, 246, 1);
} 