/* DESKTOP VERSION */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #4f781c;
  height: 9rem;
}
.logo img {
  max-width: 4rem;
}

.link ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}

.link li a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 1.8rem;
}
.active {
  color: #fff;
  font-weight: 600;
}
.nav-side p {
  color: #fff;
  font-size: 1.5rem;
}
.nav-side img {
  max-width: 4rem;
}
.nav-side {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.toggle {
  display: none;
}

header {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../images/Shalom assets/unsplash_4gcqRf3-f2I.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 70rem;
}

.header-note {
  margin-left: 10rem;
  margin-top: 8rem;
}
.header-note h2 {
  color: #ffcf91;
  font-size: 4rem;
  font-weight: 800;
  line-height: 4.7rem;
  padding-bottom: 1rem;
}

.header-note p {
  color: #f6f6f6;
  font-size: 2rem;
  font-weight: 600;
}

.header-note input {
  width: 300px;
  height: 40px;
  border: none;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 10px;
}
.header-note .srch-icon {
  padding-left: 3.8rem;
  background-image: url("../images/Shalom assets/search-normal.png");
  background-repeat: no-repeat;
  background-size: 2.3rem;
  background-position: 0.7rem center;
}
.mid {
  background: #4f781c;
  margin-top: 5rem;
  padding: 3.5rem;
}

.mid-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}
.mid-head h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}
.mid-head button {
  padding: 1.5rem 3.5rem;
  font-size: 1.4rem;
  color: #000;
  background: #ffcf91;
  border: none;
  border-radius: 0.8rem;
}
.mid-note li {
  list-style: none;
  color: #fff;
  line-height: 2.5rem;
  font-size: 1.5rem;
  padding: 2.5rem;
}
.mid-note ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}
.line {
  border: 1px solid #f6f6f6;
}
.center {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.center h3 {
  color: #4f781c;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 5rem;
}

.grid img {
  max-width: 30rem;
  height: 18rem;
}

.center-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-bottom: 1.8rem;
}
.center-top h4 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}
.center-top p {
  color: #000;
  font-size: 1.5rem;
  line-height: 1.7rem;
  padding-bottom: 1rem;
}
.grid {
  display: flex;
  column-gap: 3.5rem;
}

footer {
  background: #101806;
  margin-top: 8rem;
}
.foot-body {
  display: flex;
  justify-content: space-between;
  padding-top: 8rem;
  padding-bottom: 15rem;
}
.foot-body h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 1rem;
}
.foot-body h3 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}
.foot-body p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.5rem;
  padding-bottom: 0.1rem;
}

.logo-name img {
  max-width: 4rem;
  margin-left: 6.7rem;
}

.logo-name span {
  color: #ffcf91;
}
.explore li {
  list-style: none;
  padding-bottom: 1rem;
}
.explore li a {
  text-decoration: none;
  color: #fff;

  font-size: 1.3rem;
}
.socials img {
  max-width: 3.5rem;
}
.media {
  display: flex;
  align-items: center;
  column-gap: 1.3rem;
  padding-bottom: 1rem;
}
.sub-btn {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.sub-btn input {
  height: 35px;
  width: 300px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}
.sub-btn img {
  max-width: 2rem;
}
.sub-btn button {
  border: none;
  background: #4f781c;
  width: 20%;
  border-radius: 0;
  cursor: pointer;
}

/* TABLET VERSION */

@media screen and (max-width: 1100px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }

  html {
    font-size: 50%;
  }
  .container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #4f781c;
    height: 9rem;
  }
  .logo img {
    max-width: 6rem;
  }

  .link ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    display: none;
  }

  .link li a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 1.8rem;
  }
  .active {
    color: #fff;
    font-weight: 600;
  }
  .nav-side p {
    color: #fff;
    font-size: 1.8rem;
  }
  .nav-side img {
    max-width: 6rem;
  }
  .nav-side {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    display: none;
  }

  .toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75vw;
    margin-right: 1rem;
  }

  header {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("../images/Shalom assets/unsplash_4gcqRf3-f2I.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 70rem;
  }

  .header-note {
    margin-left: 5rem;
    margin-top: 8rem;
  }
  .header-note h2 {
    color: #ffcf91;
    font-size: 3rem;
    font-weight: 800;
    line-height: 4.7rem;
    padding-bottom: 1rem;
  }

  .header-note p {
    color: #f6f6f6;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
  }

  .header-note input {
    width: 300px;
    height: 40px;
    border: none;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 10px;
  }
  .header-note .srch-icon {
    padding-left: 3.8rem;
    background-image: url(page-img/search-normal.png);
    background-repeat: no-repeat;
    background-size: 2.3rem;
    background-position: 0.7rem center;
  }
  .mid {
    background: #4f781c;
    margin-top: 5rem;
    padding: 3.5rem;
  }

  .mid-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
  }
  .mid-head h3 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
  }
  .mid-head button {
    padding: 1.5rem 3.5rem;
    font-size: 1.4rem;
    color: #000;
    background: #ffcf91;
    border: none;
    border-radius: 0.8rem;
  }
  .mid-note li {
    list-style: none;
    color: #fff;
    line-height: 2.5rem;
    font-size: 1.5rem;
    padding: 2.5rem;
  }
  .mid-note ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.1rem;
  }
  .line {
    border: 1px solid #f6f6f6;
  }
  .center {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  .center h3 {
    color: #4f781c;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 5rem;
  }

  .grid img {
    max-width: 30rem;
  }

  .center-top {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.5rem;
    row-gap: 3rem;
    margin-bottom: 1.8rem;
  }
  .center-top h4 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    padding-bottom: 1rem;
  }
  .center-top p {
    color: #000;
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding-bottom: 1rem;
  }
  .grid {
    display: flex;
    column-gap: 3.5rem;
  }

  footer {
    background: #101806;
    margin-top: 5rem;
  }
  .foot-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 15rem;
  }
  .foot-body h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 1rem;
  }
  .foot-body h3 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-bottom: 1rem;
  }
  .foot-body p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 2.5rem;
    padding-bottom: 0.1rem;
  }

  .logo-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100rem;
  }

  .logo-name img {
    margin: 1.5rem 0rem;
    max-width: 6rem;
    margin-left: 0rem;
  }

  .logo-name span {
    color: #ffcf91;
  }

  .explore,
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17rem;
    margin-top: 4rem;
  }

  .contact {
    margin-bottom: 7.5rem;
  }

  .explore li {
    list-style: none;
    padding-bottom: 1rem;
  }
  .explore li a {
    text-decoration: none;
    color: #fff;

    font-size: 1.3rem;
  }

  .connect,
  .subcribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
  }

  .socials {
    margin-top: 4rem;
  }

  .socials img {
    max-width: 3.5rem;
  }
  .media {
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
    padding-bottom: 1rem;
  }
  .sub-btn {
    display: flex;
    border-radius: 5px;
  }

  .sub-btn input {
    height: 35px;
    width: 24rem;
    padding: 1rem 1.5rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    margin-left: 5rem;
  }
  .sub-btn img {
    max-width: 1.5rem;
  }
  .sub-btn button {
    border: none;
    background: #4f781c;
    width: 17%;
    border-radius: 0;
    cursor: pointer;
  }
}

/* MOBILE VERSION */

@media screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }

  html {
    font-size: 50%;
  }
  .container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #4f781c;
    height: 9rem;
  }
  .logo img {
    max-width: 6rem;
  }

  .link ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    display: none;
  }

  .link li a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 1.8rem;
  }
  .active {
    color: #fff;
    font-weight: 600;
  }
  .nav-side p {
    color: #fff;
    font-size: 1.8rem;
  }
  .nav-side img {
    max-width: 6rem;
  }
  .nav-side {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    display: none;
  }
  header {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("../images/Shalom assets/unsplash_4gcqRf3-f2I.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 70rem;
  }

  .header-note {
    margin-left: 5rem;
    margin-top: 8rem;
  }
  .header-note h2 {
    color: #ffcf91;
    font-size: 3rem;
    font-weight: 800;
    line-height: 4.7rem;
    padding-bottom: 1rem;
  }

  .header-note p {
    color: #f6f6f6;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
  }

  .header-note input {
    width: 300px;
    height: 40px;
    border: none;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 10px;
  }
  .header-note .srch-icon {
    padding-left: 3.8rem;
    background-image: url(page-img/search-normal.png);
    background-repeat: no-repeat;
    background-size: 2.3rem;
    background-position: 0.7rem center;
  }
  .mid {
    background: #4f781c;
    margin-top: 5rem;
    padding: 3.5rem;
  }

  .mid-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
  }
  .mid-head h3 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
  }
  .mid-head button {
    padding: 1.5rem 3.5rem;
    font-size: 1.4rem;
    color: #000;
    background: #ffcf91;
    border: none;
    border-radius: 0.8rem;
  }
  .mid-note li {
    list-style: none;
    color: #fff;
    line-height: 2.5rem;
    font-size: 1.5rem;
    padding: 2.5rem;
  }
  .mid-note ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.1rem;
  }
  .line {
    border: 1px solid #f6f6f6;
  }
  .center {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  .center h3 {
    color: #4f781c;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 5rem;
  }

  .grid img {
    max-width: 30rem;
  }

  .center-top {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.5rem;
    row-gap: 3rem;
    margin-bottom: 1.8rem;
  }
  .center-top h4 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    padding-bottom: 1rem;
  }
  .center-top p {
    color: #000;
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding-bottom: 1rem;
  }
  .grid {
    display: flex;
    column-gap: 3.5rem;
  }

  footer {
    background: #101806;
    margin-top: 5rem;
  }
  .foot-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 15rem;
  }
  .foot-body h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 1rem;
  }
  .foot-body h3 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-bottom: 1rem;
  }
  .foot-body p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 2.5rem;
    padding-bottom: 0.1rem;
  }

  .logo-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100rem;
  }

  .logo-name img {
    margin: 1.5rem 0rem;
    max-width: 6rem;
    margin-left: 0rem;
  }

  .logo-name span {
    color: #ffcf91;
  }

  .explore,
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100rem;
    margin-top: 4rem;
  }

  .explore li {
    list-style: none;
    padding-bottom: 1rem;
  }
  .explore li a {
    text-decoration: none;
    color: #fff;

    font-size: 1.3rem;
  }

  .connect,
  .subcribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100rem;
  }

  .socials {
    margin-top: 4rem;
  }

  .socials img {
    max-width: 3.5rem;
  }
  .media {
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
    padding-bottom: 1rem;
  }
  .sub-btn {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
  }

  .sub-btn input {
    height: 35px;
    width: 300px;
    padding: 1rem 1.5rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }
  .sub-btn img {
    max-width: 1.5rem;
  }
  .sub-btn button {
    border: none;
    background: #4f781c;
    width: 15%;
    border-radius: 0;
    cursor: pointer;
  }
}
