* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    font-size: 62.5%;
    background-image: url(/pexels-nguyen-tran-327588-2316400.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100rem;
    height: 80rem;
    text-align: center;
    margin: 16rem auto;
    background-color: rgba(246, 246, 246, 1);
}

.image {
    margin-top: 5rem;
    transform: translate(1rem);
}

.form {
    border: none;
    width: 45rem;
    height: 70rem;
    transform: translateX(-1rem);
    border-radius: 1rem;
    background-color: rgb(255, 245, 233);
    box-shadow: 1px 1px 7px grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.form :hover {
    border: 2px solid rgba(5, 5, 118, 0.616);
}

span {
    color: rgba(79, 120, 28, 1);
}

.form1 {
    margin: 2rem;
    padding: 1rem;
}

.form1 h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 31px;
}

.form1 p {
    font-size: 1.3rem;
}

.form3 h2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 32px;
}

.form4 {
    padding: 1rem;
    width: 35rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form5 {
    width: 29rem;
    text-align: left;
}

#healt {
    line-height: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}

#health {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 33rem;
    padding: 0.5rem 2.5rem;
    border: 1px solid rgba(9, 9, 9, 1);
    background-color: transparent;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    position: relative;
}

.img1 {
    position: absolute;
    top: 18.9rem;
}

#meds {
    line-height: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}

#medications {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 33rem;
    padding: 1rem 0.7rem 8rem;
    border: 1px solid rgba(9, 9, 9, 1);
    background-color: transparent;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

#therapy {
    line-height: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}

#thera {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 33rem;
    padding: 0.4rem 0.7rem 10rem;
    border: 1px solid rgba(9, 9, 9, 1);
    background-color: transparent;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

#coping {
    line-height: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}

#cope {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    width: 33rem;
    padding: 0.4rem 0.7rem 8rem;
    border: 1px solid rgba(9, 9, 9, 1);
    background-color: transparent;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

.btn {
    text-align: center;
}

.btn1 {
    margin-bottom: 1rem;
    border: 0.5px solid grey;
    border-radius: 0.5rem;
    padding: 1.3rem 1rem;
    text-align: center;
    width: 11rem;
    background-color: rgba(246, 246, 246, 1);
    transform: translateY(-1rem);   
    font-size: 1rem;
    margin-right: 1.1rem;
    margin-left: 3.5rem;
}

.btn1 a {
    text-decoration: none;
    color: rgba(79, 120, 28, 1);
}

.btn2 {
    margin-bottom: 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1.3rem 1rem;
    text-align: center;
    width: 11rem;
    background-color: rgba(79, 120, 28, 1);
    transform: translateY(-1rem);      
    font-size: 1rem;
}

.btn2 a {
    text-decoration: none;
    color: white;
}

/* TABLET VERSION */

@media screen and (max-width: 1100px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Raleway", sans-serif;
    }
    
    html {
        font-size: 60%;
        background-image: url(/pexels-nguyen-tran-327588-2316400.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .container {
        width: 55rem;
        text-align: center;
        background-color: transparent;
    }
    
    .image {
        margin-top: 5rem;
        transform: translate(1rem);
        display: none;
    }
    
    .form {
        border: none;
        width: 55rem;
        height: 90rem;
        transform: translateY(-10rem);
        border-radius: 1rem;
        background-color: rgb(255, 245, 233);
        box-shadow: 1px 1px 7px grey;
    }
    
    .form :hover {
        border: 2px solid rgba(5, 5, 118, 0.616);
    }
    
    span {
        color: rgba(79, 120, 28, 1);
    }
    
    .form1 {
        margin: 2rem;
        padding: 1rem;
    }
    
    .form1 h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 32px;
    }
    
    .form1 p {
        font-size: 1.3rem;
    }
    
    .form3 h2 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 32px;
    }
    
    .form4 {
        padding: 1rem;
        width: 35rem;
        height: 37rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .form5 {
        width: 29rem;
        text-align: left;
    }
    
    #healt {
        line-height: 1rem;
        font-weight: 500;
        font-size: 1.4rem;
    }
    
    #health {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        width: 35rem;
        padding: 1rem 3.5rem;
        border: 1px solid rgba(9, 9, 9, 1);
        background-color: transparent;
        font-size: 1.2rem;
        border-radius: 0.3rem;
        position: relative;
    }
    
    .img1 {
        position: absolute;
        top: 19.3rem;
        width: 33px;
        height: 35px;
    }
    
    #meds {
        line-height: 1rem;
        font-weight: 500;
        font-size: 1.4rem;
    }
    
    #medications {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        width: 34.9rem;
        padding: 0.4rem 0.7rem 8rem;
        border: 1px solid rgba(9, 9, 9, 1);
        background-color: transparent;
        font-size: 1.2rem;
        border-radius: 0.3rem;
    }
    
    #therapy {
        line-height: 1rem;
        font-weight: 500;
        font-size: 1.4rem;
    }
    
    #thera {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        width: 34.9rem;
        padding: 0.4rem 0.7rem 10rem;
        border: 1px solid rgba(9, 9, 9, 1);
        background-color: transparent;
        font-size: 1.2rem;
        border-radius: 0.3rem;
    }
    
    #coping {
        line-height: 1rem;
        font-weight: 500;
        font-size: 1.4rem;
    }
    
    #cope {
        margin-top: 0.5rem;
        margin-bottom: 3rem;
        width: 34.9rem;
        padding: 0.4rem 0.7rem 10rem;
        border: 1px solid rgba(9, 9, 9, 1);
        background-color: transparent;
        font-size: 1.1rem;
        border-radius: 0.3rem;
    }
    
    .btn {
        text-align: center;
    }
    
    .btn1 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: rgba(79, 120, 28, 1);
        border: 0.5px solid grey;
        border-radius: 0.5rem;
        padding: 1.3rem 1rem;
        text-align: center;
        width: 11rem;
        background-color: rgba(246, 246, 246, 1);
        transform: translateY(-1rem);   
        font-size: 1.2rem;
        margin-right: 1.1rem;
        margin-left: 3.5rem;
    }
    
    .btn2 {
        margin-bottom: 1rem;
        color: white;
        border: none;
        border-radius: 0.5rem;
        padding: 1.3rem 1rem;
        text-align: center;
        width: 11rem;
        background-color: rgba(79, 120, 28, 1);
        transform: translateY(-1rem);      
        font-size: 1.2rem;
    }
}

/* MOBILE VERSION */

@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Raleway", sans-serif;
    }
    
    html {
        font-size: 50%;
        background-image: url(/pexels-nguyen-tran-327588-2316400.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .container {
        width: 54rem;
        margin: 25rem auto;
        text-align: center;
        background-color: transparent;
    }
    
    .image {
        margin-top: 5rem;
        transform: translate(1rem);
        display: none;
    }
    
    .form {
        border: none;
        width: 55rem;
        height: 90rem;
        transform: translateY(-10rem);
        border-radius: 1rem;
        background-color: rgb(255, 245, 233);
        box-shadow: 1px 1px 7px grey;
    }
    
    .form :hover {
        border: 2px solid rgba(5, 5, 118, 0.616);
    }
    
    span {
        color: rgba(79, 120, 28, 1);
    }
    
    .form1 {
        margin: 2rem;
        padding: 1rem;
    }
    
    .form1 h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 32px;
    }
    
    .form1 p {
        font-size: 1.3rem;
    }
    
    .form3 h2 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 32px;
    }
    
    .form4 {
        padding: 1rem;
        width: 35rem;
        height: 37rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .form5 {
        width: 29rem;
        text-align: left;
    }
    
    #healt {
        line-height: 1rem;
        font-weight: 500;
        font-size: 1.4rem;
    }
    
    #health {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        width: 35rem;
        padding: 1rem 3.5rem;
        border: 1px solid rgba(9, 9, 9, 1);
        background-color: transparent;
        font-size: 1.2rem;
        border-radius: 0.3rem;
        position: relative;
    }
    
    .img1 {
        position: absolute;
        top: 21rem;
        width: 28px;
        height: 30px;
    }
    
    #meds {
        line-height: 1rem;
        font-weight: 500;
        font-size: 1.4rem;
    }
    
    #medications {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        width: 34.9rem;
        padding: 0.4rem 0.7rem 10rem;
        border: 1px solid rgba(9, 9, 9, 1);
        background-color: transparent;
        font-size: 1.2rem;
        border-radius: 0.3rem;
    }
    
    #therapy {
        line-height: 1rem;
        font-weight: 500;
        font-size: 1.4rem;
    }
    
    #thera {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        width: 34.9rem;
        padding: 0.4rem 0.7rem 10rem;
        border: 1px solid rgba(9, 9, 9, 1);
        background-color: transparent;
        font-size: 1.2rem;
        border-radius: 0.3rem;
    }
    
    #coping {
        line-height: 1rem;
        font-weight: 500;
        font-size: 1.4rem;
    }
    
    #cope {
        margin-top: 0.5rem;
        margin-bottom: 3rem;
        width: 34.9rem;
        padding: 0.4rem 0.7rem 10rem;
        border: 1px solid rgba(9, 9, 9, 1);
        background-color: transparent;
        font-size: 1.1rem;
        border-radius: 0.3rem;
    }
    
    .btn {
        text-align: center;
    }
    
    .btn1 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: rgba(79, 120, 28, 1);
        border: 0.5px solid grey;
        border-radius: 0.5rem;
        padding: 1.3rem 1rem;
        text-align: center;
        width: 11rem;
        background-color: rgba(246, 246, 246, 1);
        transform: translateY(-1rem);   
        font-size: 1.2rem;
        margin-right: 1.1rem;
        margin-left: 3.5rem;
    }
    
    .btn2 {
        margin-bottom: 1rem;
        color: white;
        border: none;
        border-radius: 0.5rem;
        padding: 1.3rem 1rem;
        text-align: center;
        width: 11rem;
        background-color: rgba(79, 120, 28, 1);
        transform: translateY(-1rem);      
        font-size: 1.2rem;
    }
}