/* DESKTOP VERSION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    font-size: 62.5%;
    background-image: url(/pexels-lucaspezeta-2855892.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 60rem;
    text-align: center;
    margin: 20rem auto;
    background-color: white;
}

.image {
    transform: translateY(-1rem);
}

.section1 {
    width: 40rem;
    height: 10rem;
    gap: 32px;
    opacity: 0px;

}

.section1 h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.section1 p {
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.7rem;
}

.btn button {
    width: 15rem;
    background-color: rgba(79, 120, 28, 1);
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.btn button a {
    text-decoration: none;
    color: white;
}

/* TABLET VERSION */

@media screen and (max-width: 1100px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Raleway", sans-serif;
    }
    
    html {
        font-size: 60%;
        background-image: url(/pexels-lucaspezeta-2855892.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60rem;
        height: 60rem;
        text-align: center;
        margin: 20rem auto;
        background-color: white;
    }
    
    .image {
        transform: translateY(-1rem);
    }
    
    .section1 {
        width: 40rem;
        height: 10rem;
        gap: 32px;
        opacity: 0px;
    
    }
    
    .section1 h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 4rem;
        margin-bottom: 1rem;
    }
    
    .section1 p {
        font-family: "Lato", sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.7rem;
    }
    
    .btn button {
        width: 15rem;
        background-color: rgba(79, 120, 28, 1);
        color: white;
        padding: 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
    }
}

/* MOBILE VERSION */

@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Raleway", sans-serif;
    }
    
    html {
        font-size: 50%;
        background-image: url(/pexels-lucaspezeta-2855892.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 120rem;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50rem;
        height: 50rem;
        text-align: center;
        margin: 29rem auto;
        background-color: white;
    }
    
    .image {
        transform: translateY(-1rem);
    }
    
    .section1 {
        width: 40rem;
        height: 10rem;
        gap: 31px;
        opacity: 0px;
    
    }
    
    .section1 h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 4rem;
        margin-bottom: 1rem;
    }
    
    .section1 p {
        font-family: "Lato", sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.7rem;
    }
    
    .btn button {
        width: 15rem;
        background-color: rgba(79, 120, 28, 1);
        color: white;
        padding: 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.4rem;
    }
}